*.jar
*.war
*.ear
*.class
.gradle

#intelliJ
.idea
restflow.iml
build

# eclipse specific git ignore
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
